<!-- {{clientList | json}} -->
<h1 id="btn-add">prova</h1>
<!-- <button type="button" id="btn-add" class="btn btn-primary ms-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="bi bi-person-plus-fill"></i> Nuovo Cliente
</button> -->

<!-- ! Codice Modale aperto -->

<!-- <button type="submit" class="btn btn-primary">Add</button> -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="content-fluid">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Compila il form per aggiungere un cliente
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <form #f="ngForm" (ngSubmit)="onSubmit()" class="row g-3 m-2">
            <div class="col-md-12 mb-2 animate__animated animate__fadeInUp">
              <label for="ragioneSociale" class="form-label">Ragione Sociale</label>
              <input ngModel name="ragioneSociale" type="text" class="form-control" id="ragioneSociale"
                control-id="ControlID-2" />
            </div>

            <div class="col-md-12 mb-2 animate__animated animate__fadeInUp">
              <label for="partitaIva" class="form-label">P. Iva</label>
              <input ngModel name="partitaIva" type="text" class="form-control" id="partitaIva"
                control-id="ControlID-2" />
            </div>

            <div class="col-md-12 mb-2 animate__animated animate__fadeInUp">
              <label for="tipoCliente" class="form-label">Tipologia aziendale</label>
              <input ngModel name="tipoCliente" type="text" class="form-control" id="tipoCliente"
                control-id="ControlID-2" />
            </div>

            <div class="col-md-6 mb-2 animate__animated animate__fadeInUp">
              <label for="email" class="form-label">Email</label>
              <input ngModel name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
                control-id="ControlID-1" />
            </div>

            <div class="col-md-6 mb-2 animate__animated animate__fadeInUp">
              <label for="PEC" class="form-label">PEC</label>
              <input ngModel name="pec" type="text" class="form-control" id="PEC" control-id="ControlID-2" />
            </div>
            <div class="col-md-12 mb-2 animate__animated animate__fadeInUp">
              <label for="tel" class="form-label">Telefono</label>
              <input ngModel name="tel" type="text" class="form-control" id="tel" control-id="ControlID-2" />
            </div>

            <div class="col-md-6 mb-2 animate__animated animate__fadeInUp">
              <label for="nameContact" class="form-label">Nome Contatto</label>
              <input ngModel name="nameContact" type="text" class="form-control" id="nameContact"
                control-id="ControlID-2" />
            </div>

            <div class="col-md-6 mb-2 animate__animated animate__fadeInUp">
              <label for="lastnameContact" class="form-label">Cognome Contatto</label>
              <input ngModel name="lastnameContact" type="text" class="form-control" id="lastnameContact"
                control-id="ControlID-2" />
            </div>

            <div class="col-md-6 mb-2 animate__animated animate__fadeInUp">
              <label for="telContatto" class="form-label">Telefono contatto</label>
              <input ngModel name="telContatto" type="text" class="form-control" id="telContatto"
                control-id="ControlID-2" />
            </div>

            <div class="col-md-6 mb-2 animate__animated animate__fadeInUp">
              <label for="email" class="form-label">Email contatto</label>
              <input ngModel name="emailContact" type="email" class="form-control" id="email"
                control-id="ControlID-2" />
            </div>

            <h5>Indirizzo</h5>

            <form [formGroup]="addressGroup">
              <div class="col-md-6 mb-3 animate__animated animate__fadeInUp">
                <label for="via" class="form-label">Via</label>
                <input formControlName="via" type="text" class="form-control" id="street" control-id="ControlID-2" />
              </div>
              <div class="col-md-2 mb-3 animate__animated animate__fadeInUp">
                <label for="civico" class="form-label">Civico</label>
                <input formControlName="civico" type="text" class="form-control" id="street" control-id="ControlID-2" />
              </div>
              <div class="col-md-4 mb-3 animate__animated animate__fadeInUp">
                <label for="cap" class="form-label">CAP</label>
                <input formControlName="cap" type="text" class="form-control" id="street" control-id="ControlID-2" />
              </div>


              <h5>Comune e Provincia</h5>
              <form [formGroup]="comuneGroup">
                <div class="col-md-8 mb-3 animate__animated animate__fadeInUp">
                  <label for="street" class="form-label">Comune</label>
                  <input name="street" type="text" class="form-control" id="street" control-id="ControlID-2" />
                </div>
                <div class="col-md-4 mb-3 animate__animated animate__fadeInUp">
                  <label for="street" class="form-label">Provincia</label>
                  <input name="street" type="text" class="form-control" id="street" control-id="ControlID-2" />
                </div>
                <button type="button" class="btn btn-primary">Aggiungi</button>
              </form>
            </form>

          </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-danger w-100 mx-2" data-bs-dismiss="modal">
            Annulla
          </button>
          <button type="button" class="btn btn-primary">Aggiungi</button>
        </div> -->
      </div>
    </div>
  </div>
</div>


<!-- * LIST BODY * -->
<div class="conteiner-fluid">

  <div class="row m-5">
    <div class="col-6 round table-responsive">
      <div class="border-bottom d-flex justify-content-between mb-3">
        <h2>Clienti</h2>

        <button type="button" class="btn btn-sm mb-3 btn-primary ms-5" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          <i class="bi bi-person-plus-fill"></i> Nuovo Cliente
        </button>
      </div>
      <div class="border border-2 round">
        <table class="table table-hover round overflow-hidden">
          <thead>
            <tr class="table-light text-secondary  table-primary">
              <th class="px-3 small" scope=" col">#</th>
              <th class="px-3 small" scope="col">RAG. SOCIALE</th>
              <th class="px-3 small" scope="col">P. IVA</th>
              <th class="px-3 small" scope="col">Provincia</th>
              <th class="px-3 small" scope="col"></th>
            </tr>
          </thead>
          <tbody class="table-group-divide r">
            <tr *ngFor="let item of clientList">
              <th class="p-3 m-3" scope="row">{{clientList!.indexOf(item)+1}}</th>
              <td class="p-3">{{item.ragioneSociale}}</td>
              <td class="p-3">{{item.partitaIva}}</td>
              <td class="p-3">{{item.indirizzoSede?.comune?.provincia}}</td>
              <td class="p-3">
                <i class="bi bi-pencil-square"></i>
                <i class="bi bi-eye-fill"></i>
                <i class="bi bi-x-circle"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- !! DETAIL COMPONENT -->
    <div class="col-8 bg-dark">
    </div>
  </div>

</div>

<!-- <div class="col-6 border border-2 p-0 round table-responsive">
  <table class="table table-hover overflow-hidden">
    <thead class="table-light ">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody class="table-group-divide r">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>

  </table>
</div> -->
